<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crea Gita</title>
    <!--<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">-->

    <!-- Bootstrap core CSS -->
    <!--<link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->

    <!-- Favicons -->
    <!--<link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png"> -->
    <!--<link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">-->
    <link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"/>

</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3"href="#">Cre Grest</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Menù</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link" href="/homeLEADER">
                            <span data-feather="home"></span>
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Inserisci Personale</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Crea un nuovo evento">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link" href="/formInserisciSegretaria">
                            <span data-feather="file"></span>
                            Inserisci Segretaria
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formInserisciResponsabile">
                            <span data-feather="file"></span>
                            Inserisci Responsabile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formInserisciEsterno">
                            <span data-feather="file"></span>
                            Inserisci Esterno
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formInserisciAnimatore">
                            <span data-feather="file"></span>
                            Inserisci Animatore
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formInserisciBambino">
                            <span data-feather="file"></span>
                            Inserisci Bambino
                        </a>
                    </li>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Crea Squadra</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Crea un nuovo evento">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link" href="/formCreaSquadra">
                            <span data-feather="shopping-cart"></span>
                            Crea Squadra
                        </a>
                    </li>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Crea Eventi</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Crea un nuovo evento">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="shopping-cart"></span>
                            Crea Gita
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formCreaGioco">
                            <span data-feather="users"></span>
                            Crea Gioco
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formCreaLaboratorio">
                            <span data-feather="bar-chart-2"></span>
                            Crea Laboratorio
                        </a>
                    </li>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Assegna Arbitraggio</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Assegna Arbitraggio">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link" href="/formAssegnaArbitraggio">
                            <span data-feather="users"></span>
                            Assegna Arbitraggio
                        </a>
                    </li>
                     <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Mostra Appello Personale</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Assegna Arbitraggio">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link" href="/formMostraAppello">
                            <span data-feather="users"></span>
                            Mostra Appello
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{{usernamesession}}</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Partecipanti:
                            {{totalepartecipanti}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Leader: {{totaleleader}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Segretarie:
                            {{totalesegretarie}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Responsabili:
                            {{totaleresponsabili}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Esterni:
                            {{totaleesterni}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Animatori:
                            {{totaleanimatori}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Bambini:
                            {{totalebambini}}
                        </button>
                    </div>

                </div>
            </div>

            <h2>Crea Gita</h2>
            <form method="post" id="segretariaForm">
                <div class="form-group">

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}

                    <label for="tipoGita">Seleziona Gita</label>
                    <select class="form-control" name="tipoGita" id="tipoGita" required>
                        <option selected value="">Scegli...</option>
                        <option value="1">Gita in montagna</option>
                        <option value="2">Gita al mare</option>
                        <option value="3">Gita al lago</option>
                        <option value="4">Gita culturale</option>
                        <option value="5">Altra Gita</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="luogo">Luogo</label>
                    <input type="text" class="form-control" name="luogo" id="luogo"
                           placeholder="Palestra di via PincoPallo" required
                           maxlength="50">
                </div>
                <div class="it-datepicker-wrapper">
                    <div class="form-group">
                        <label for="date">Data</label>
                        <input class="form-control it-date-datepicker" name="date" id="date" type="date"
                               placeholder="gg/mm/aaaa"
                               required>
                    </div>
                </div>
                <div class="it-timepicker-wrapper">
                    <div class="form-group">
                        <label for="time">Data</label>
                        <input class="form-control it-time-datepicker" name="time" id="time" type="time" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="descrizione">Descrizione</label>
                    <textarea class="form-control" name="descrizione" id="descrizione" rows="3" required
                              maxlength="50"></textarea>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                       <thead>
                        <tr>
                            <th>Nome Squadra</th>
                            <th>Partecipa/ Non Partecipa</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for squadra in listsquadre%}
                        <tr>
                            <td>{{ squadra[0] }}</td>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="check" name={{ squadra[0] }}>
                                    <label class="form-check-label" for="check">Partecipa</label>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="float-right">
                    <input type="submit" class="btn btn-primary btn-lg mb-1" value="Crea Gita">
                </div>
            </form>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<!--<script src="../assets/dist/js/bootstrap.bundle.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>-->
</body>
</html>