<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crea Squadra</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">

    <link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"/>

</head>
<body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3"href="#">Cre Grest</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Menù</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Menù">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link" href="/homeLEADER">
                            <span data-feather="home"></span>
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Inserisci Personale</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Crea un nuovo evento">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link" href="/formInserisciSegretaria">
                            <span data-feather="file"></span>
                            Inserisci Segretaria
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formInserisciResponsabile">
                            <span data-feather="file"></span>
                            Inserisci Responsabile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formInserisciEsterno">
                            <span data-feather="file"></span>
                            Inserisci Esterno
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formInserisciAnimatore">
                            <span data-feather="file"></span>
                            Inserisci Animatore
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formInserisciBambino">
                            <span data-feather="file"></span>
                            Inserisci Bambino
                        </a>
                    </li>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Crea Squadra</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Crea un nuovo evento">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link active" href="/formCreaSquadra">
                            <span data-feather="users"></span>
                            Crea Squadra
                        </a>
                    </li>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Crea Eventi</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Crea un nuovo evento">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link" href="/formCreaGita">
                            <span data-feather="shopping-cart"></span>
                            Crea Gita
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formCreaGioco">
                            <span data-feather="users"></span>
                            Crea Gioco
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formCreaLaboratorio">
                            <span data-feather="bar-chart-2"></span>
                            Crea Laboratorio
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{{usernamesession}}</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Partecipanti:
                            {{totalepartecipanti}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Leader: {{totaleleader}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Segretarie:
                            {{totalesegretarie}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Responsabili:
                            {{totaleresponsabili}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Esterni:
                            {{totaleesterni}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Animatori:
                            {{totaleanimatori}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Bambini:
                            {{totalebambini}}
                        </button>
                    </div>
                </div>
            </div>

            <h2>Crea Squadra</h2>
            <form method="post" id="creaSquadraForm">

                <div class="form-group">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}


                    <label for="nomesquadra">Nome Squadra</label>
                    <input type="text" name="nomesquadra" class="form-control" id="nomesquadra"
                           placeholder="Nome squadra" required
                           maxlength="10">
                </div>
                <div class="form-group">
                    <label for="coloresquadra">Colore</label>
                    <input type="text" name="coloresquadra" class="form-control" id="coloresquadra"
                           placeholder="Colore" required
                           maxlength="10">
                </div>
                <div class="form-group">
                    <label for="mottosquadra">Motto</label>
                    <input type="text" name="mottosquadra" class="form-control" id="mottosquadra"
                           placeholder="Motto" required
                           maxlength="50">
                </div>

                <div class="float-right">
                    <input type="submit" class="btn btn-primary btn-lg mb-1" value="Crea Squadra">
                </div>
            </form>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<!--<script src="../assets/dist/js/bootstrap.bundle.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>

</body>
</html>