<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Inserisci Responsabile</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">

    <!-- Favicons -->

    <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"/>

</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/homeLEADER">Cre Grest</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Menù</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link" href="/homeLEADER">
                            <span data-feather="home"></span>
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Inserisci Personale</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Crea un nuovo evento">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link" href="/formInserisciSegretaria">
                            <span data-feather="file"></span>
                            Inserisci Segretaria
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formInserisciResponsabile">
                            <span data-feather="file"></span>
                            Inserisci Responsabile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="file"></span>
                            Inserisci Esterno
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formInserisciAnimatore">
                            <span data-feather="file"></span>
                            Inserisci Animatore
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formInserisciBambino">
                            <span data-feather="file"></span>
                            Inserisci Bambino
                        </a>
                    </li>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Crea Squadra</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Crea un nuovo evento">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link" href="/formCreaSquadra">
                            <span data-feather="shopping-cart"></span>
                            Crea Squadra
                        </a>
                    </li>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Crea Eventi</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Crea un nuovo evento">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link" href="/formCreaGita">
                            <span data-feather="shopping-cart"></span>
                            Crea Gita
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formCreaGioco">
                            <span data-feather="users"></span>
                            Crea Gioco
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/formCreaLaboratorio">
                            <span data-feather="bar-chart-2"></span>
                            Crea Laboratorio
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{{usernamesession}}</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                       <button type="button" class="btn btn-sm btn-outline-secondary">Totale Partecipanti:
                            {{totalepartecipanti}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Leader: {{totaleleader}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Segretarie:
                            {{totalesegretarie}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Responsabili:
                            {{totaleresponsabili}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Esterni:
                            {{totaleesterni}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Animatori:
                            {{totaleanimatori}}
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Totale Bambini:
                            {{totalebambini}}
                        </button>
                    </div>
                </div>
            </div>

            <h2>Inserisci Esterno</h2>
            <form method="post" id = "responsabileForm">
                <div class="form-group">
                    <label for="matricola">Matricola</label>
                    <input type="text" class="form-control" name="matricola" id="matricola" value="{{matricola}}">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name = 'password' class="form-control" id="password" placeholder="Password" value="{{password}}" required pattern="[a-zA-z0-9]{5}">
                </div>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome" required maxlength="50" >
                </div>
                <div class="form-group">
                    <label for="cognome">Cognome</label>
                    <input type="text" name="cognome" class="form-control" id="cognome" placeholder="Cognome" required maxlength="50">
                </div>
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="email@admin.com" required maxlength="50">
                </div>
                <div class="it-datepicker-wrapper">
                    <div class="form-group">
                        <label for="date">Data di nascita</label>
                        <input class="form-control it-date-datepicker" name="data" id="date" type="date" placeholder="gg/mm/aaaa" required >
                    </div>
                </div>
                <div class="form-group">
                    <label for="indirizzo">Indirizzo</label>
                    <input type="text" name="indirizzo" class="form-control" id="indirizzo" placeholder="Topolandia, Via dei Paperon, 12" required maxlength="50">
                </div>
                <div class="form-group">
                    <label for="telefono">Numero di telefono</label>
                    <input type="number" name="telefono" class="form-control" id="telefono" placeholder="035303030">
                </div>
                <div class="form-group">
                    <label for="cellulare">Numero di cellulare</label>
                    <input type="number" name="cellulare" class="form-control" id="cellulare" placeholder="3334445566">
                </div>
                <div class="float-right">
                    <input type="submit" class="btn btn-primary btn-lg mb-1" value="Inserisci Esterno">
                </div>
            </form>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
</body>
</html>